* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #730202;
  height: 6rem;
}

.theHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 5rem;
  grid-column-start: 2;
  grid-column-end: 5;
}

.theHeader a {
  color: white;
  text-decoration: none;
}

.instruction {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  margin-left: 3rem;
  margin-top: 2rem;
  font-weight: lighter;
}

.moduleGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
